/* Style sheet for my York Tribute Page */

* {
background-color: rgb(204, 115, 115);
font-family: 'Everson Mono', sans-serif;
}

.profile-pic{
    height:250px;
    width:auto;
    
display:flex;
justify-content: center;
}

h1{
    text-align: center;
    
}

.description-container{
    display:flex;
    margin: 50px;

}